 @model Student

<form asp-action="Assign">
<div class="modal fade" tabindex="-1" id="assignConfirmModal" aria-labelledby="assignConfirmLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeModalLabel">Confirm Assign Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Assign @Model.Name to @Model.User.Id?</p>
      </div>
      <div class="modal-footer">
        <form asp-controller="Student"  asp-action="Assign">
            <input type="hidden" asp-for="User.Id" />
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Confirm Assign" class="btn btn-primary" />
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>           
        </form>
      </div>
    </div>
  </div>
</div>
</form> 
