@model AssignViewModel

<h3 class="mt-4 mb-4">Assign Student @Model.StudentId to Parent/Caregiver</h3>

<form asp-action="Assign">

    <div asp-validation-summary="ModelOnly"   class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserId" class="control-label">Parent/Caregiver Names</label>      
        <select asp-for="UserId" class="form-control"     
            asp-items="@Model.Users">
            <option>Select Parent/Caregiver</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div> 

    
   
    @* <div class="form-group mt-2">
        <input type="submit" value="Assign" title="Assign student to user" class="btn btn-primary">
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div> *@

     

  

</form>
 <!-- add navigation link to assign action, passing the correct route id parameter -->
                <button asp-condition=@User.IsInRole("Tutor")  data-bs-toggle="modal"
                    data-bs-target="#assignConfirmModal" 
                    class="btn btn-sm btn-primary mr-2">Assign Student<i class="bi bi-diagram-3-fill ms-1"></i></a>
        
                </button>
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}