@model AssignViewModel

<h3 class="mt-4 mb-4">Assign Student to Parent/Caregiver</h3>

<form asp-action="Assign" asp-controlller=>

    <div asp-validation-summary="ModelOnly"   class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserId" class="control-label">Parent/Caregiver Names</label>      
        <select asp-for="UserId" class="form-control"     
            asp-items="@Model.Users">
            <option>Select Parent/Caregiver</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div> 

    
   
    <div class="form-group mt-2">
        <input type="submit" value="Assign" title="Assign student to user" class="btn btn-primary">
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}