@model Student

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/student", "Students"), ("","Create") })>

<h3 class="mt-4 mb-4">Create Student</h3>

<div class="card rounded shadow p-3">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- form inputs -->
        <partial name="_FormInputs"/>

        <!-- set password when creating student-->

            <div class="row">
            <div class="col form-group mt-3">
                <label asp-for="@Model.User.Password" class="control-label"><i class="bi-shield-lock-fill"></i> Set Password for Student</label>
                <input type="password" asp-for="@Model.User.Password" class="form-control"  id="myInput"> 
                <span asp-validation-for="@Model.User.Password" class="text-danger"></span>
                <!-- An element to toggle between password visibility -->
                <input type="checkbox" onclick="myFunction()">Show Password
            </div>
            

        <div class="form-group mt-3 ">
            <input type="submit" value="Create" class="btn btn-primary"/>
            <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}