@model IList<Student>

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/student", "Students"), ("","Index") })>

<h3 class="mb-3">Student List</h3>



<!-- note use of ClaimsPrincipal extension method HasOneOfRoles (found in Extensions) -->
<!-- without this extension we must write condition as follows                        -->
@* asp-condition=@(User.IsInRole("admin") || User.IsInRole("manager"))                *@   
    <a asp-condition=@User.HasOneOfRoles("Parent,Tutor") class="btn btn-sm btn-primary my-3" asp-controller="Student" asp-action="Create" title="Create new student">Create <i class="bi bi-person-plus-fill"></i></a>     
<div class="card shadow rounded p-3">
    <div class="row pl-3">
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Instrument 1</th>
                <th>Instrument 2</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var s in Model) {
                    <tr>
                        <td>@s.Id</td>
                        <td>@s.Name</td>
                        <td>@s.InstrumentOne</td>
                        <td>@s.InstrumentTwo</td>   
                        <td>
                            <!-- Add View link -->
                            <a asp-controller="Student" asp-action="Details" asp-route-id=@s.Id title="View"><i class="bi bi-book"></i></a>                      
                            <!-- Add edit link  -->
                            <a asp-condition=@User.HasOneOfRoles("Parent,Tutor") asp-controller="Student" asp-action="Edit" asp-route-id=@s.Id title="Edit"><i class="bi bi-pen" ></i></a>  
                            <!-- Add delete link -->
                            <a asp-condition=@User.HasOneOfRoles("Parent,Tutor") asp-controller="Student" asp-action="Delete" asp-route-id=@s.Id title="Delete"><i class="bi bi-trash"></i></a>

                            @* <!-- custom anchor tag that links to a custom delete modal for the current student  --> *@
                            <!-- Note how we create a unique modal id using 's.Id' and use this as the anchor tag href -->
                            @* <a asp-condition=@User.HasOneOfRoles("Admin,Tutor") data-bs-toggle="modal" href="#deleteModal-@s.Id"><i class="bi bi-trash"></i></a>
                            <!-- custom modal defined for each student - note we pass the current student 's' as a model to the modal -->
                            <partial name="_DeleteModal" model="s"/>        *@
                        </td>
                    </tr>
                }
            
            </tbody>
        </table>
    </div>
</div>