@model AboutViewModel

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("","About") })>

<div class="card text-center shadow">
    <div class="card-header bg-warning">
        <h2>@Model.Title</h2>
    </div>
    <div class="card-body">
        <div class="card-body">
            <h5 class="card-title">Mission Statement</h5>
            <p><em>@Model.Message</em></p>
            <h5>What does touchBass do?</h5>
            <p class="text-start"> touchBass is a student management system to help manage the many aspects of your music lessons, so you can focus on making progress!</p>
            <ul class="text-start">
                <li><b>Create and update</b> your details for yourself or others- perfect for families!</li>
                <li>View the <b>Progress Logs</b> to help remember what you covered, or what you need to get for lessons</li>
                <li>Ask a <b>Query</b> at any time without worrying about disturbing your tutor</li>
                <li>View <b>availabity</b> for extra lessons or to reschedule/cancel</li>
                <li>Only have access to what you need, let's keep things simple!</li>
            </ul>
        </div>
        For Parents/Caregivers:
        First register an account. You can do this via the Navigation bar at the top or on the home page, depending on if you are a Parent/Caregiver or a student over 18.    

        You can view, or update your profile details, just click on your name on the Navigation bar drop down list to see your options. You can Update Password or Logout from the drop down too.
        Create your students. Don't worry if you can't remember every instrumental grade, we can fix that later! You will set a password which can be updated when they log in.
        Your students can then be found by clicking the Students tab. Click on the View icon to update your student's details (or Edit directly from the pen icon). 
        In the details page, you can check on progress, ask a Query on behalf of your student and view responses from your tutor.

        <div class="card-footer text-muted">
            <div>Formed on @Model.Formed </div>
        </div>
  </div>
</div>
