@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome to the touchBass Student Management Solution!</h1>
   
</div>

<div class="row">
    <div class="col-sm-6 mt-5" >
        <img src="https://live.staticflickr.com/65535/51910895650_d07163b8ba_b.jpg" title="touchBass logo" alt="music logo" style="width:80%;height:auto;"class="img-fluid">
    </div>
    <div class="col-sm-6" >
        <partial name ="_Login" />
    </div>

</div>






