@using tb.Web.Views.Shared.Components
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome to the touchBass Student Management Solution!</h1>
   
</div>

<div style="text-align: center;">
    <img src="https://live.staticflickr.com/65535/51910895650_d07163b8ba_b.jpg" title="touchBass logo" alt="music logo" style="width:30%;height:auto;"class="img-fluid">
</div>


 <h3>This is a row component</h3>

 <div >
     @(await Html.RenderComponentAsync<Row>(RenderMode.ServerPrerendered, new{ChildContent="This is a row from a component"}))
 </div> 





