@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>touchBass takes your privacy very seriously.</p>
<p>No non functional cookies are used and we do not sell or distribute your data onto third parties.</p>

