
<div class="card">
    <div class="card-body">
        <h5 class="card-title"> Booking (via Calendly) Page</h5>
        <p class="card-text">This page is only visible if you are Authorised.</p>
    </div>
</div>
<div class="card rounded shadow p-3">
    <div class="card-body p-3">
        <p class="card text">The Calendly scheduler lets you see what times are available if you need to change your lesson.<br> When booking your new time, please add a message as to which slot you are now leaving available. Missed or forgotten lessons will fall under the usual cancellation policy.</p>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/dianemorrisonmusic" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->