
<div class="card">
    <div class="card-body">
        <h4 class="card-title"> Booking (via Calendly) Page</h4>
        <p class="card-text">This page is only visible if you are Authorized.</p>
    </div>
</div>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/dianemorrisonmusic" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->